<nb-card>
  <div class="container">
    <div class="row mb-3">
      <div class="col d-flex justify-content-between align-items-center">
        <h2 class="mt-3">Thêm địa điểm</h2>
      </div>
    </div>
    <div class="row">
      <form (ngSubmit)="onSubmit()" #locationForm="ngForm">
        <div class="form-group">
          <label for="locationName">Tên địa điểm:</label>
          <input type="text" class="form-control" id="locationName" name="locationName"
                 placeholder="Nhập tên địa điểm" [(ngModel)]="newLocation.locationName" required #locationName="ngModel">
          <div *ngIf="locationName.invalid && (locationName.dirty || locationName.touched)" class="text-danger">
            <div *ngIf="locationName.errors?.required">Tên địa điểm không được để trống.</div>
          </div>
        </div>
        <div class="form-group mt-3">
          <label for="category">Thể loại:</label>
          <select class="form-control" id="category" name="category" [(ngModel)]="newLocation.category_id" required>
            <option value="">Chọn thể loại</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
          <div *ngIf="locationForm.submitted && !newLocation.category_id" class="text-danger">Vui lòng chọn thể loại.</div>
        </div>
        <div class="form-group mt-3">
          <label for="locationImage">Hình ảnh:</label>
          <input type="file" class="form-control-file" id="locationImage" (change)="previewImage($event)" [(ngModel)]="imageSelected" name="image" #image="ngModel">
          <div *ngIf="locationForm.submitted && image.invalid" class="text-danger">Vui lòng chọn hình ảnh.</div>
          <img *ngIf="imageUrl" [src]="imageUrl" id="imagePreview" class="mt-2" style="max-width: 300px; display: block;" alt="Xem trước hình ảnh">
        </div>
        <button type="submit" class="btn btn-primary mt-3 mb-3" [disabled]="locationForm.invalid">Thêm địa điểm</button>
      </form>
    </div>
  </div>
</nb-card>
