.bill {
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-size: 12px;
  }
  
  .bill h3,
  .bill h5 {
    margin-bottom: 5px;
  }
  
  .bill hr {
    margin: 5px 0;
  }
  
  .bill p {
    margin: 5px 0;
  }
  
  .bill .font-weight-bold {
    font-weight: bold;
  }
  
  .table {
    width: 100%;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
    padding: 8px;
  }
  
  .table-condensed th,
  .table-condensed td {
    padding: 4px;
  }
  